@import "../../scss/variables";

.btn {
  display: flex;
  justify-content: center;
  border: 0;
  background-color: $viking;
  width: 2.5rem;
  height: 2.5rem;

  &:hover,
  &:focus {
    outline: 0;
  }

  &--icon {
    padding: .65rem 0 .5rem;
    width: 1.25rem;
    height: auto;
    color: $sherpa-blue;

    &:hover,
    &:focus {
      outline: 0;
      padding: .55rem 0 .4rem;
      width: 1.45rem;
    }
  }
}

.btn-search-again {
  margin: 2.5rem 0;
  border-radius: 1.5rem;
  background-color: $sherpa-blue;
  padding: .65rem 1rem;
  width: auto;
  color: $white;
  font-family: "WorkSans Regular";
  font-size: 1rem;

  &:hover {
    background-color: $viking;
    color: $sherpa-blue;
    font-family: "WorkSans Semibold";
  }

  > a {
    color: $white;
  }
}
