@import "../scss/variables";

.detail {
  &__meaningful-content,
  &__data-content {
    display: flex;
    flex-flow: row wrap;
    padding: 2.5rem 0;
    width: 100%;

    @media (min-width: 768px) {
      padding: 4.5rem 0;
    }
  }

  &__meaningful-content {
    flex-flow: column nowrap;
    align-items: center;
    background-color: $sherpa-blue;
  }

  &__word {
    color: $white;
    font-size: 3.38rem;
  }

  &__link {
    color: $white;
    font-family: "WorkSans Regular";
    font-size: .875rem;
  }

  &__data-content {
    justify-content: center;
    background-color: $viking;
  }

  &__data-item {
    margin-bottom: 1.5rem;
    padding: 0 2rem;
    text-align: center;

    &--label {
      font-family: "WorkSans Semibold";
    }

    &--highlighted {
      font-size: 2.5rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 768px) {
      margin-bottom: 0;
      text-align: left;
    }
  }
}

.user-actions {
  padding: 2.5rem 0;
}
