/* colors */ 
$black: rgb(0, 0, 0);
$tundora: rgb(74, 66, 68);
$manatee: rgb(141, 144, 161);
$french-gray: rgb(189, 189, 198);
$white: rgb(255, 255, 255);
$translucid-white: rgba(255, 255, 255, .7);
$sherpa-blue: rgb(0, 73, 80);
$viking: rgb(100, 204, 219);
$swans-down: rgb(220, 240, 234);

