@import "./fontface";
@import "./reset";
@import "./variables";

*:focus {
  outline: .125rem auto $viking;
  outline-style: solid;
}

.app {
  background-color: $swans-down;
  min-height: 100vh; // sass-lint:disable-line property-units
  color: $sherpa-blue;
}

.section-container {
  display: flex;
  flex: 1 1 0;
  flex-flow: column nowrap;
  align-items: center;
  padding: 4.5rem 0;
}


